<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TracNghiem.Properties.Settings.connectStrView" connectionString="Data Source=THANHSON-PC;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="TracNghiem.Properties.Settings.connectStrData" connectionString="Data Source=THANHSON-PC\MSSQLSERVER1;Initial Catalog=TRACNGHIEM;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>